# Django
SECRET_KEY=замените-на-случайную-строку
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL
DB_NAME=comets
DB_USER=postgres
DB_PASSWORD=pass
DB_HOST=localhost
DB_PORT=5432

# Redis
REDIS_URL=redis://localhost:6379/0

# MinIO
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=comets
MINIO_ENDPOINT=http://localhost:9000
